<a href="https://colab.research.google.com/github/shambhaviijhaa/Ai-Projects/blob/main/News_Classification_using_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install nltk

Requirement already satisfied: nltk in c:\users\shambhavi jha\appdata\local\programs\python\python310\lib\site-packages (3.6.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\shambhavi jha\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2021.11.10)
Requirement already satisfied: joblib in c:\users\shambhavi jha\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\shambhavi jha\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: tqdm in c:\users\shambhavi jha\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\shambhavi jha\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\SHAMBHAVI
[nltk_data]     JHA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
import pandas as pd

In [ ]:
fake=pd.read_csv("Fake.csv")
genuine=pd.read_csv("True.csv")

In [ ]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [ ]:
display(fake.head())
display(genuine.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [ ]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [ ]:
data=pd.concat([fake, genuine],axis=0)

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
data=data.drop(['subject','date','title'], axis=1)

In [ ]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

# TOKENIZATION

In [ ]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# STEMMING

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [ ]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# stopword removal

In [ ]:
'''from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))'''

"from nltk.corpus import stopwords\nnltk.download('stopwords')\nprint(stopwords.words('english'))"

In [ ]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [ ]:
data['text']=data['text'].apply(' '.join)

# splitting up data

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data['text'],data['target'],test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

36434    tuni reuter tunisia power labor union ugtt sai...
27444    washington reuter u.s. presid donald trump sai...
36351    moscow reuter russia will critic u.s. presid d...
2766     donald trump slate visit great britain this su...
20945    are two mom who have put our live hold everyth...
Name: text, dtype: object

36434    1
27444    1
36351    1
2766     0
20945    0
Name: target, dtype: int64

# vectorization

In [ ]:
import sklearn

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)
tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [ ]:
print(tfidf_train)

  (0, 65878)	0.10702923455929526
  (0, 62970)	0.11667581695494353
  (0, 62080)	0.16164683766972163
  (0, 42915)	0.2003796168255103
  (0, 32949)	0.13807078062279213
  (0, 84988)	0.1398294119675865
  (0, 81698)	0.1123461995895444
  (0, 73919)	0.1079719853170417
  (0, 73848)	0.12271946417172705
  (0, 54665)	0.12446027844785268
  (0, 32787)	0.08862579127277039
  (0, 66181)	0.10513371787678352
  (0, 52545)	0.13204488869866238
  (0, 17693)	0.0644544869037829
  (0, 88454)	0.08635309365969752
  (0, 77749)	0.2394311497449646
  (0, 87995)	0.09480777656643363
  (0, 24644)	0.1178335343864943
  (0, 20263)	0.09391092128801609
  (0, 28988)	0.15197621611906667
  (0, 55981)	0.1764288217673229
  (0, 24633)	0.09409681556894738
  (0, 18013)	0.11459508816311881
  (0, 42911)	0.14314557456785063
  (0, 43946)	0.16730252280912652
  :	:
  (33672, 61971)	0.057658946247812405
  (33672, 33272)	0.057454150933417804
  (33672, 80063)	0.038883654439689525
  (33672, 12400)	0.05173760182957376
  (33672, 81343)	0.031610191050352135
  (33672, 63416)	0.04094348426621567
  (33672, 39102)	0.06323473728423902
  (33672, 46952)	0.07210353261975917
  (33672, 57678)	0.03506487264557966
  (33672, 55680)	0.025212547862880914
  (33672, 81598)	0.020521321186097386
  (33672, 10598)	0.05651353474867885
  (33672, 53526)	0.04074562763036762
  (33672, 82555)	0.043222670029908226
  (33672, 60721)	0.02539952627373902
  (33672, 73457)	0.04289195659813931
  (33672, 79180)	0.031405016424289056
  (33672, 12327)	0.03255357249986343
  (33672, 81429)	0.027876761903592652
  (33672, 59431)	0.031268459161337664
  (33672, 7682)	0.042292252873304265
  (33672, 35210)	0.04062335125591919
  (33672, 32949)	0.12771048818092418
  (33672, 17693)	0.02980903689688517
  (33672, 65577)	0.02335228019725544

# Logistic Regression

In [ ]:
import sklearn

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model_1= LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1=model_1.predict(tfidf_test)
cri=accuracy_score(y_test,pred_1)
print(cri*100)

98.98440979955456

# PassiveAggressiveClassifier

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print('The Accuracy of prediction is ',accscore*100)

The Accuracy of prediction is  99.6881959910913